## Задание 1
- Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержани

In [1]:
import pandas as pd
df = pd.read_csv('laptops.csv', encoding='windows-1251', sep=';')
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [2]:
df.head(5)

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   Product           1303 non-null   object
 2   TypeName          1303 non-null   object
 3   Inches            1303 non-null   float64
 4   ScreenResolution  1303 non-null   object
 5   Cpu               1303 non-null   object
 6   Ram               1303 non-null   object
 7   Memory            1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price_euros       1303 non-null   float64
dtypes: float64(2), object(10)
memory usage: 122.3+ KB

In [4]:
df.describe()

            Inches  Price_euros
count  1303.000000  1303.000000
mean     15.017191  1123.686992
std       1.426304   699.009043
min      10.100000   174.000000
25%      14.000000   599.000000
50%      15.600000   977.000000
75%      15.600000  1487.880000
max      18.400000  6099.000000

In [5]:
df.describe(include="object")

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

In [6]:
df.isnull()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1298,False,False,False,False,False,False,False,False,False,False,False,False
1299,False,False,False,False,False,False,False,False,False,False,False,False
1300,False,False,False,False,False,False,False,False,False,False,False,False
1301,False,False,False,False,False,False,False,False,False,False,False,False
1302,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isna().sum()

Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

## Задание 3
### Задание 3.1 
Ноутбуков от какой компании больше всего в наборе данных?

In [8]:
df["Company"].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

### Задание 3.2 
Какая минимальная и максимальная стоимость у ноутбуков в данных?

In [9]:
df["Price_euros"].min(), df["Price_euros"].max()

(174.0, 6099.0)

### Задание 3.3 
Какой самый дорогой ноутбук в данных?
Выведите все характеристики только по этому ноутбуку
Если таких ноутбуков несколько, то выводите их всех

In [10]:
df.sort_values("Price_euros").tail(1)

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

## Задание 4.
### Задание 4.1 
Найдите ноутбуки с самой маленькой диагональю в данных?
Выведите только следующие характеристики:
Компания
Типа ноутбука
Диагональ
Стоимость
Если таких ноутбуков несколько, то выводите их всех

In [11]:
df[df["Inches"] == df["Inches"].min()][["Company", "TypeName", "Inches", "Price_euros"]]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

### Задание 4.2 
Сколько стоит самый дорогой ноутбук у компании HP?

In [12]:
df[df["Company"]=="HP"]["Price_euros"].idxmax()

749

### Задание 4.3 
Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков

In [13]:
df.loc[749]

Company                                        HP
Product                                  Zbook 17
TypeName                              Workstation
Inches                                       17.3
ScreenResolution      IPS Panel Full HD 1920x1080
Cpu                 Intel Xeon E3-1535M v5 2.9GHz
Ram                                          16GB
Memory                                  256GB SSD
Gpu                          Nvidia Quadro M2000M
OpSys                                   Windows 7
Weight                                        3kg
Price_euros                                4389.0
Name: 749, dtype: object

In [14]:
ultra8 = df[(df["Ram"]=="8GB") & (df["TypeName"]=="Ultrabook")].shape[0]

In [17]:
ultra = df[df["TypeName"]=="Ultrabook"].shape[0]
ultra8/ultra

0.7142857142857143

## Здание 5
### Задание 5.1 
Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в стоимости до 500 евро, сколько у него вариантов?

In [23]:
df[((df["Ram"]=="8GB") | (df["Ram"]=="16GB")) & (df["OpSys"]=="Windows 10") & (df["Price_euros"] <= 500)].shape[0]

13

### Задание 5.2 
Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX 1050 Ti и главное не с диагональю 15.6. В какой ценовой категории вышли подобные ноутбуки?

In [27]:
df[(df["Company"]=="MSI") & (df["Gpu"]=="Nvidia GeForce GTX 1050 Ti") & (df["Inches"]!=15.6)][["Company", "Gpu", "Inches", "Price_euros"]]

     Company                         Gpu  Inches  Price_euros
330      MSI  Nvidia GeForce GTX 1050 Ti    17.3      1199.00
393      MSI  Nvidia GeForce GTX 1050 Ti    17.3      1349.00
724      MSI  Nvidia GeForce GTX 1050 Ti    17.3      1348.48
917      MSI  Nvidia GeForce GTX 1050 Ti    17.3      1599.00
1156     MSI  Nvidia GeForce GTX 1050 Ti    17.3      1492.80

In [30]:
df[(df["Company"]=="MSI") & (df["Gpu"]=="Nvidia GeForce GTX 1050 Ti") & (df["Inches"]!=15.6)]["Price_euros"].min()

1199.0

In [31]:
df[(df["Company"]=="MSI") & (df["Gpu"]=="Nvidia GeForce GTX 1050 Ti") & (df["Inches"]!=15.6)]["Price_euros"].max()

1599.0

### Задание 5.3 
Что дешевле?
В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel Core i7 7600U 2.8GHz?

In [38]:
cpu1 = df[df["Cpu"]=="Intel Core i7 7700HQ 2.8GHz"]["Price_euros"].mean()
cpu2 = df[df["Cpu"]=="Intel Core i7 7600U 2.8GHz"]["Price_euros"].mean()

In [40]:
cpu2-cpu1

155.3023445732349

## Задание 6
Найдите самый легкий ноутбук
Но обратите внимание на тип и представление данных в признаке Weight, если что, замените в строке 'kg' на пустую строку через метод .str.replace()

In [48]:
df["Weight"].str.replace("kg", "").astype("float").mean()

2.0387336914811973